/*
 * Empty Stylesheet file.
 */

.mainFxmlClass{
    -fx-background-color: #757575;
}

Button {
    -fx-background-color:#212121;
    -fx-border-color: #212121;
    -fx-border-radius: 5px
}

Button:hover {
    -fx-background-color: #616161;
}
